.homeusername {
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeusername div {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    cursor: pointer;
}