.users {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: transparent transparent; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
  
    /* Hide the scrollbar for Webkit browsers (Chrome, Safari) */
    &::-webkit-scrollbar {
      width: 0.5em;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: transparent;
    }
}

.user{
    border-radius: 12px;
    border: 2px solid #0ff;
    margin: 1%;
    padding: 12px;
    width: 75%;
    cursor: pointer;
}